@model CommonLayer.Model.EmployeeModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/register.css" />
<div class="logo-content">
    <div>
        <img class="profile-image-1" src="~/assests/empimg.png" />
    </div>
    <div>
        <p class="text text-1">EMPLOYEE</p>
        <p class="text text-2">PAYROLL</p>
    </div>
</div>
<h1 class="h1">REGISTER</h1>
<hr />
<div class="row">
    <div class="registerContent">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="EmpID" class="control-label"></label>
                <input asp-for="EmpID" class="form-control" />
                <span asp-validation-for="EmpID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <div class="imagesRadio">
                    <label asp-for="EmpProfileImage" class="control-label"></label>
                </div>
                
                @*<br/>*@
                @*<input asp-for="ProfileImage" class="form-control" />*@
               <div class="imageButton">
                    @Html.RadioButtonFor(model => model.EmpProfileImage, "~/assests/imga.png")
                    <img class="profile-image-1" src="~/assests/imga.png" />
                    &nbsp;&nbsp;
                    @Html.RadioButtonFor(model => model.EmpProfileImage, "~/assets/imgb.png")
                    <img class="profile-image-1" src="~/assests/imgb.png" />
                    &nbsp;&nbsp;
                    @Html.RadioButtonFor(model => model.EmpProfileImage, "~/assets/imgc.png")
                    <img class="profile-image-1" src="~/assests/imgc.png" />
                    &nbsp;&nbsp;
                    @Html.RadioButtonFor(model => model.EmpProfileImage, "~/assets/imgd.png")
                    <img class="profile-image-1" src="~/assests/imgd.png" />
               </div>    
             </div>

            @*<div class="form-group">
                <label asp-for="EmpProfileImage" class="control-label"></label>
                <input asp-for="EmpProfileImage" class="form-control" />
                <span asp-validation-for="EmpProfileImage" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <div class="imagesRadio">
                    <label asp-for="EmpGender" class="control-label"></label>
                </div>
                
                <br/>
                @*<input asp-for="EmpGender" class="form-control" />
                <span asp-validation-for="EmpGender" class="text-danger"></span>*@
                <div class="genderButton">
                    Male
                    @Html.RadioButtonFor(model => model.EmpGender, "Male")
                    &nbsp;&nbsp;
                    Female
                    @Html.RadioButtonFor(model => model.EmpGender, "Female")
                </div>
                

            </div>
            <div class="form-group">
                <label asp-for="EmpDepartment" class="control-label"></label>
                <br />
                @*<input asp-for="EmpDepartment" class="form-control" />*@
                <select class="form-control" id="Department" name="EmpDepartment">
                    <option>Select Department</option>
                    <option>HR</option>
                    <option>Seles </option>
                    <option>Marketing</option>
                    <option>Developer</option>
                    <option>QA</option>
                    <option>Operations</option>
                </select>
                <span asp-validation-for="EmpDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpSalary" class="control-label"></label>
                <input asp-for="EmpSalary" class="form-control" />
                <span asp-validation-for="EmpSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpStartDate" class="control-label"></label>
                <input asp-for="EmpStartDate" class="form-control" />
                <span asp-validation-for="EmpStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            
            <div class="buttonContent">
                <input type="button" value="cancel" class="btn btn-secondary btn-lg" />
                <div>
                    <input type="submit" value="Register" class="submitButton" />
                    <input type="reset" value="Reset" class="btn btn-secondary btn-lg" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetEmployee">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
