@model CommonLayer.Model.EmployeeModel

@{
    ViewData["Title"] = "GetEmployeeByID";
}

<link rel="stylesheet" href="~/css/emplyee.css" />
<h1>GetEmployeeByID</h1>
<div class="logo-content">
    <div>
        <img class="profile-image-1" src="~/assests/empimg.png" />
    </div>
    <div>
        <p class="text text-1">EMPLOYEE</p>
        <p class="text text-2">PAYROLL</p>
    </div>
</div>
<div>
    @*<h4>EmployeeModel</h4>*@
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpID)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpProfileImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpProfileImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
